<div class="quiz-div">
  <div class="quiz-container">
    <div class="quiz-status-bar">
      <div class="left-status-bar">1 of 7 question</div>
      <div class="right-status-bar">
        <i style="font-size: 20px" class="fa-solid fa-stopwatch"></i>
        <span class="countdown">10s</span>
      </div>
    </div>
    <div class="question-bar">
      <div class="question">
        Barok döneminin önemli bir ressamı olan ve Caravaggio'nun öğrencisi
        olarak bilinen bu sanatçı, dramatik aydınlatma tekniğiyle tanınır. Hangi
        sanatçıdan bahsediyoruz?
      </div>
      <div class="answers">
        <button class="option">Hieronymus Bosch</button>
        <button class="option">Peter Paul Rubens</button>
        <button class="option">Jan Vermeer</button>
        <button class="option">Rembrandt van Rijn</button>
      </div>
    </div>
    <button class="next-question">Sonraki Soru</button>
  </div>
</div>
