<div class="quiz-div">
  <div class="quiz-container">
    <div class="quiz-status-bar">
      <div class="left-status-bar">1 of 7 question</div>
      <div class="right-status-bar">
        <i style="font-size: 20px" class="fa-solid fa-stopwatch"></i>
        <span class="countdown">10s</span>
      </div>
    </div>
    <div class="question-bar">
      <div class="question">
        Aşağıdakilerden hangisi ünlü sanat tarihçisi Ece Şensöz'ün kafasıdır ?
        Aşağıdakilerden hangisi ünlü sanat tarihçisi Ece Şensöz'ün kafasıdır ?
        Aşağıdakilerden hangisi ünlü sanat tarihçisi Ece Şensöz'ün kafasıdır ?
      </div>
      <div class="answers">
        <div class="row">
          <button
            style="
              background-image: url(ecejpg.jpg);
              background-size: cover;
              background-position: center;
            "
            class="image-option"
          >
            <!-- <img src="ecejpg.jpg" alt="" /> -->
          </button>
          <button
            style="
              background-image: url(adusttlogo.jpg);
              background-size: cover;
              background-position: center;
            "
            class="image-option"
          >
            <!-- <img src="adusttlogo.jpg" alt="" /> -->
          </button>
        </div>
        <div class="row">
          <button
            style="
              background-image: url(adusttlogo.jpg);
              background-size: cover;
              background-position: center;
            "
            class="image-option"
          >
            <!-- <img src="adusttlogo.jpg" alt="" /> -->
          </button>
          <button
            style="
              background-image: url(adusttlogo.jpg);
              background-size: cover;
              background-position: center;
            "
            class="image-option"
          >
            <!-- <img src="adusttlogo.jpg" alt="" /> -->
          </button>
        </div>
      </div>
      <button class="next-question">Sonraki Soru</button>
    </div>
  </div>
</div>
