@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: "TDR";
  src: url("fonts/Gretaros-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TDR2";
  src: url("fonts/couture-bld.otf") format("truetype");
}
/* reset css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #262626;
}
/* reset css end */

/* component start */
.border-button {
  border: 2px solid #fff;
  background: transparent;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.border-button span {
  background: #323e3d;
  height: 100%;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.border-button:hover > span {
  width: 100%;
}
/* component end */

/* banner start */
.banner {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(images/backg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 90px;
  cursor: pointer;
}

nav {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li a {
  color: #eadede;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:not(.border-button):hover {
  color: #323e3d;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #eadede;
}

.content h1{
  font-size: 50px;
  font-family: "TDR2", sans-serif;
}

.content h1 i {
  font-size: 70px;
  font-family: "TDR", sans-serif;
}



.content p {
  margin-top: -25px;
  font-size: 30px;
  font-weight: 100;
}

.social-media-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: fixed;
  bottom: 50px;
  left: 35px;
}

.social-media-buttons .fa-brands {
  color: #eadede;
  font-size: 16px;
  cursor: pointer;
}

.up-wrapper {
  position: fixed;
  color: #eadede;
  right: 40px;
  bottom: 40px;
  z-index: 99;
  font-size: 20px;
  background-color: #FF7900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  /* visibility: hidden;
  opacity: 0; */
}
/* banner end */


