/* search modal start */
.search-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.search-modal::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.modal-wrapper {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  padding: 30px;
}

.search-modal .modal-title {
  font-size: 30px;
  font-weight: 600;
}

.search-modal .modal-text {
  font-size: 14px;
  color: #7a7a7a;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee0ea;
}

.search-modal .search-form {
  margin-top: 15px;
  display: flex;
  position: relative;
}

.search-modal .search-form::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dee0ea;
  position: absolute;
  bottom: -15px;
}

.search-modal .search-form input {
  width: 100%;
  max-height: 42px;
  border-color: #dee0ea;
}

.search-modal .search-form button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee0ea;
}

.search-modal .search-form button i {
  font-size: 18px;
  color: #7a7a7a;
}

.search-modal .search-result {
  margin-top: 30px;
}

.search-modal .search-heading {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #dee0ea;
}

.search-modal .search-heading h3 {
  font-size: 16px;
  font-weight: 600;
}

.search-modal .search-heading h3 {
  font-size: 16px;
  font-weight: 600;
}

.search-modal .results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-left: 1px solid #dee0ea;
}

.search-modal .result-item {
  display: flex;
  column-gap: 15px;
  align-items: center;
  padding: 15px;
  border-right: 1px solid #dee0ea;
  border-bottom: 1px solid #dee0ea;
  transition: 0.2s ease background-color;
}

.search-modal .result-item:hover {
  background-color: #f9f9f9;
}

.search-modal .search-thumb {
  max-width: 65px;
  width: 100%;
}

.search-modal .search-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.search-modal .search-sku {
  color: #7a7a7a;
  margin: 2px 0;
}

.search-modal .search-price {
  font-weight: 600;
  color: #dc3545;
}

.search-modal .bi-x-circle {
  font-size: 25px;
  color: #dc3545;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}
/* search modal end */

/* search responsive start */
@media (max-width: 992px) {
  .search-modal .modal-wrapper {
    max-width: 90%;
  }

  .search-modal .results {
    grid-template-columns: 1fr;
  }
}
/* search responsive end */
