.table-wrapper {
  margin-top: 17px;
  overflow-x: auto;
  padding-bottom: 5px;
  width: 100vw;
}

.table-wrapper::-webkit-scrollbar {
  height: 5px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  min-width: 762px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 20px;
}

th,
td {
  padding: 15px;
}

table h1,
table h2,
table h3,
table p {
  text-align: center;
}

table h1 {
  font-size: 23px;
  margin: 25px 0;
}

table h3 {
  margin: 60px 0 30px 0;
}

table p {
  margin: 60px 0 40px 0;
}

table .date-color {
  color: #8d0b41;
}
